.App {
  display:flex;
  width: 100%;

}

.left_bar{
  width: 224px;
  background: #1E2640;
  height:100vh;
  padding: 16px 10px;
  position:fixed;
}

.right_bar{
  display:flex;
  flex-direction:column;
  background: #FAFAFA;
  margin-left:226px;
}


